.item-comparador-tarjeta{
	max-width: 350px;
	height: 485px;
	border:1px solid #dce5ee;
	border-radius: 5px;
	padding: 10px 20px;
	font-family: 'Nunito';
    margin: auto;
    margin-bottom: 30px;
}
.item-comparador-tarjeta.selected{
	border:1px solid #ffd200;
	box-shadow: 0px 0px 0px 1px #ffd200;
}
.item-comparador-tarjeta .cpd-texto-comparar{
	font-size: 16px;
	color: #00448c;
	padding-right: 10px;
	margin-bottom: 0px;
}
.item-comparador-tarjeta .checkbox-comparar{
	display: inline-block;
	position: relative;
	height: 20px;
	width: 20px;
	border:2px solid #333333;
	border-radius: 2px;
	vertical-align: middle;
	cursor: pointer;
}
.item-comparador-tarjeta .checkbox-comparar.checked{
	border:2px solid #ffd200;
}
.item-comparador-tarjeta .checkbox-comparar.checked:after{
	content: '✓';
	position: absolute;
	top: -3px;
	left: 2px;
	color: #333333;
	font-weight: bold;
}
.item-comparador-tarjeta .checkbox-comparar.disabled{
	background: #eee;
	border-color: #ddd;
	cursor: no-drop;
}
.item-comparador-tarjeta .cpd-area-img{
	padding: 15px 0px;
	margin-bottom: 20px;
}
.item-comparador-tarjeta .cpd-area-img img{
	max-height: 175px;
	max-width: 100%;
}
.item-comparador-tarjeta .item-comparador-tarjeta-nombre{
	color: #333333;
	font-weight: bold;
	font-size: 20px;

}
.item-comparador-tarjeta .item-comparador-tarjeta-descripcion{
	color: #888888;
	font-size: 16px;
	height: 100px;
}
.item-comparador-tarjeta .ver-mas{
	color: #00448c;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	display: inline-block;
}

.cpd-filtro-ingresos{
	width: 100%;
	padding: 20px;
	border-radius: 10px;
	background: #57585a;
	color: #fff;
}
.cpd-filtro-ingresos label{
	font-size: 20px;
	display: block;
}
.cpd-filtro-ingresos select{
	width: 100%;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #ccc;
	background: transparent;
	color: #fff !important;
}
.cpd-filtro-ingresos select:active,.cpd-filtro-ingresos select:focus{
	color: #000 !important;
}
.cpd-item-filtro{
	width: 100%;
	border:2px solid #e6e7e9;
	background: #e6e7e9;
	border-radius: 5px;
	padding: 8px;
	font-family: 'Nunito';
	cursor: pointer;
	margin-bottom: 30px;
	min-height: 110px;

}
.cpd-item-filtro label{
	color: #00448c;
	font-size: 16px;
	font-weight: bold;
}
.cpd-item-filtro p{
	font-size: 14px;
	color: #888;
	line-height: 1;
}
.cpd-item-filtro.selected{
	border:2px solid #00448c;
	background: #d2d3d5;

}

.cpd-num-tarjetas-seleccionadas{
	font-size: 16px;
	color:#333333;
	font-weight: bold;
}
.cpd-num-tarjetas-seleccionadas span{
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	color: #fff;
	background: #ffd200;
	border-radius: 15px;
	font-weight: 500;
	line-height: 30px;
	
}
.cpd-comparador table{
	width: 100%;
	color: #5b5b5b;
	font-size: 16px;
}
.cpd-comparador table td{
	border-bottom: 1px solid #f3f5f7;
	border-right: 1px solid #f3f5f7;
	padding: 20px 10px;
    height: 66px;
}

.cpd-comparador table tr td:last-child{
	border-right: none;
}
.cpd-tr-cabecera td{
	border-bottom: 2px solid #edeef0!important;
	padding: 0px 10px!important;

}
.cpd-tr-cabecera td span{
    min-height: 42px;
    display: inline-block;
}
.cpd-comparador table tr:nth-child(odd) td{
	background: transparent;
}
.cpd-columna{
	/* min-width: 224px; */
}
.cpd-columna.cpd-selected-1{
    width: 100%;
}
.cpd-columna.cpd-selected-2{
    width: 50%;
}
.cpd-columna.cpd-selected-3{
    width: 33.3%;
}
.cpd-no-border td{
	border-bottom: none !important;
	padding: 10px!important;
}
.cpd-img-tarjeta{
	max-width: 100%;
    max-height: 125px;
}

.cpd-nombre-tarjeta{
	color: #333;
	font-size: 20px;
	font-family: 'Nunito';
}
.cpd-f-28{
	color: #333;
	font-size: 28px;
	font-family: 'Nunito';
}
.cpd-f-26{
    color: #333;
    font-size: 26px;
    font-family: 'Nunito';
}
.cpd-valor-att{
	color: #333333;
	font-size: 16px;
	font-family: 'Nunito';
	font-weight: bold;
}
.cpd-bg-gray{
	width: 100%;
	background: #eaecf2;
	padding: 30px 0px;

}
.cpd-table-solicitar{
    position: relative;
}
.cpd-table-solicitar-fixed{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
    width: 200px;
    background:#eaecf2;
    height: 82px;
}
.cpd-table-solicitar-botones{
    padding-left: 200px;
}
.cpd-table-solicitar table{
	width: 100%;
}
.cpd-table-solicitar table tr:nth-child(odd) td{
	background: transparent;
}
.btn-back{
	background:  #fff !important;
	color: #00448c !important;
	border:1px solid #00448c !important;
}
.cpd-texto-info{
	font-size: 20px;
	color: #333333;
	font-family: 'Nunito';
	font-weight: bold;
}
.cpd-bar-fixed{
    padding: 10px 0px;
}
.cpd-bar-fixed.active{
	position: fixed;
	width: 100%;
	bottom: 0px;
	background: #fff;
	border-top:1px solid #00448c;
	
	z-index: 9;
}
.cpd-panel-comparador{
    padding-top: 15px;
}

.cpd-table-area{
    position: relative;
}
.cpd-tr-cabecera-fixed{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
}
.cpd-comparador{
    padding-left: 200px;
}
.cpd-tr-cabecera-fixed table td{
    padding: 20px 10px;
    background: #fff!important;
    border-bottom: 1px solid #f3f5f7;
}
.form-solicitud-producto .btn.btn-primary{
    color: #333333;
}

@media only screen and (max-width: 991px) {
	.cpd-img-tarjeta{
		max-height: 125px;
	}
	.cpd-nombre-tarjeta{
		font-size: 16px;
	}
	.cpd-valor-att{
		font-size: 14px;
	}
	.cpd-columna{
		width: 158px;
	}
	.cpd-columna .btn.btn-primary{
		font-size: 12px;
		padding: 6px 15px;
	}
	.cpd-f-28{
		font-size: 24px;
	}
}
@media only screen and (max-width: 768px ) {
   .cpd-columna{
     width: 300px;

 }
 .cpd-img-tarjeta{
    min-width: 167px;
}
.cpd-f-28, .cpd-f-26{
    font-size: 16px;
}
.cpd-tr-cabecera-fixed, .cpd-table-solicitar-fixed{
    width: 150px;
}
.cpd-comparador, .cpd-table-solicitar-botones{
    padding-left: 150px;
}
.cpd-comparador table td{
    padding: 10px;
}
.cpd-tr-cabecera-fixed table td{
    padding: 10px;
    font-size: 12px;
}
.cpd-valor-att{
    font-size: 12px;
    font-weight: 500;
}
.cpd-table-solicitar-botones td{
    min-width: 187px;
}
.cpd-table-solicitar-botones .ver-mas{
    display: block;
    text-align: center;
}
}

@media only screen and (max-width: 600px ) {
    .cpd-panel-buscador, .cpd-panel-comparador{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
@media only screen and (max-width: 480px) {
	.cpd-texto-info{
		font-size: 16px;
	}
	.cpd-num-tarjetas-seleccionadas{
		font-size: 11px;
	}
	.cpd-bar-fixed [class*="col-"] {
		padding-left: 0px;
		padding-right: 0px;
	}
	.cpd-btn-ver-todas{
		border-radius: 50px;
		font-family: 'Nunito';
		font-weight: 800;
		font-size: 16px;
		padding-left: 30px;
		padding-right: 30px;
		background: #fff !important;
		color: #00448c !important;
		border: 1px solid #00448c !important;
		margin-bottom: 15px;
		display: inline-block;
		text-decoration: underline;
	}
	.item-comparador-tarjeta .ver-mas{
		font-size: 11px;
	}
}


.modal-limbo-overlayer{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(255,255,255,0.6);
	/* display: none; */
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-limbo{
	min-height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
	padding: 30px 30px;
	position: relative;
    /* 
    	display: table;
    
    	*/
    }
    .modal-limbo .modal-limbo-content{

    	background: #fff;
    	border:1px solid #ccc;
    	border-radius: 5px;
    	position: relative;

    	max-width: 742px;
    	margin: auto;
    	min-width: 300px;
    	min-height: 200px;

    }
    .modal-limbo-overlayer.modal-limbo-gris .modal-limbo .modal-limbo-content{
    	background: #f5f7f9;
    }
    .modal-limbo .modal-limbo-content .modal-limbo-body{
    	padding: 30px 50px;
    } 
    .modal-limbo .modal-limbo-close{
    	position: absolute;
        z-index: 9;
        top: 5px;
        right:5px;
        display: inline-block;
        width: 28px;
        height: 28px;
        border: 2px solid #6a6b6d;
        border-radius: 14px;
        cursor: pointer;
        text-align: center;
        line-height: 22px;

        font-size: 26px;
        font-weight: bold;

    }

    .modal-limbo .modal-limbo-content.loading{
    	background-image: url('../img/loader.gif');
    	background-repeat: no-repeat;
    	background-position: center;
    }
    .modal-limbo-gris .modal-limbo .modal-limbo-content.loading{
    	background-image: url('../img/loader-white.gif');
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: 160px;
    }
    .modal-limbo-open{
    	overflow: hidden;
    }
    .modal-limbo .modal-limbo-prev{
        display: inline-block;
        height: 46px;
        width: 28px;
        background: url('../img/btn-prev.png') no-repeat center;
        position: absolute;
        cursor: pointer;
        top:calc(50% - 23px);
        left: -50px;
    }
    .modal-limbo .modal-limbo-next{
        display: inline-block;
        height: 46px;
        width: 28px;
        background: url('../img/btn-next.png') no-repeat center;
        position: absolute;
        cursor: pointer;
        top:calc(50% - 23px);
        right: -50px;
    }


    .formulario-titulo{
    	font-size: 32px;
    	color: #333333;
    	font-weight: bold;
    	font-family: 'Nunito';
    	margin-bottom: 0px;
    }
    .formulario-subtitulo{
    	font-size: 17px;
    	color: #b5b5b5;

    	font-family: 'Nunito';
    }
    .form-white .form-group{
    	position: relative;
    	margin-bottom: 30px;
    }
    .form-white .form-group label{
    	font-size: 12px;
    	color: #5b5b5b;
    	margin-bottom: 0px;
    	position: absolute;
    	left: 0px;
    	top: 0px;
    }
    .form-white .form-control{
    	border: none;
    	border-bottom: 2px solid #00448c;
    	outline: 0;
    	box-shadow: none;
    	padding-top: 25px;
    	height: 56px !important;
        -webkit-appearance:none;
    }
    .form-white .form-control:placeholder-shown + label{
    	opacity: 0;
    	top:30px;
    	left:10px;
    	transition: opacity 0.25s, top 0.25s, left 0.25s;
    	pointer-events: none;

    }
    .form-white .form-control:not(:placeholder-shown) + label{
    	opacity: 1;
    	top:0px;
    	left:0px;
    	transition: opacity 0.25s, top 0.25s, left 0.25s;
    }

    .form-white .texto-detalle{
    	font-size: 12px;
    	color: #5b5b5b;
    }
    .form-white .form-mensaje{
    	display: block;
    	text-align: center;
    	color: #23c580;
    	font-size: 20px;
    	font-weight: bold;
    	font-family: 'Nunito';
    }
    .form-white .form-mensaje.error{
    	color: #fc2c32;
    }
    .btn-loader{
    	
    	color: transparent !important;
    	background-image: url('../img/loader-button.gif') !important;
    	background-position: center !important;
    	background-color: #fff !important;
    	background-size: 130px !important;
    	background-repeat: no-repeat !important;
    }
    .container-formulario .code-input{
        position: relative;
    }
    .container-formulario .code-input:after{
        content: attr(data-code);
        position: absolute;
        color: #fc2c32;
        font-size: 16px;
        font-weight: bold;
        right: 0px;
        top: 21px;

    }
    @media only screen and (max-width: 480px) {
    	.modal-limbo .modal-limbo-content .modal-limbo-body{
    		padding: 15px;
    	}

    	.formulario-titulo{
    		font-size: 18px;
    	}
    	.formulario-subtitulo{
    		font-size: 14px;
    	}
    }

    .subtitulo-azul{
    	font-size: 20px;
    	color: #00448c;
    	font-weight: bold;
    	font-family: 'Nunito';
    }

    .btn-default{
    	color: #00448c;
    	border: 1px solid #00448c;
    	background: #fff;
    	border-radius: 25px;
    	padding: 6px 30px;
    }
    .btn-default:hover{
    	background: #00448c;
    	color: #fff;
    }
    .container-formulario{
    	max-width: 630px;
    	margin: auto;
    }
    .form-bg-dark{
    	background: #58595b;
    	padding: 50px 0px;
    }
    .form-bg-dark h2{
    	color: #fff;
    	font-family: 'Nunito';
    	font-weight: bold;
    }
    .form-bg-dark  .formulario-subtitulo{
    	color: #fefefe;
    	font-size: 16px;
    	margin-bottom: 70px;

    }

    .form-bg-dark .form-group{
    	position: relative;
    	margin-bottom: 30px;
    }
    .form-bg-dark .form-group label{
    	font-size: 12px;
    	color: #fff;
    	margin-bottom: 0px;
    	/* position: absolute;
    	left: 0px;
    	top: 0px; */
    }
    .form-bg-dark .form-control{
    	border: none;
    	border-bottom: 2px solid #fff;
    	outline: 0;
    	box-shadow: none;
    	padding-top: 10px;
    	height: auto!important;
    	background: transparent;
    	border-radius: 0px;
    	color: #fff;
    	padding-bottom: 10px;
    }
    .form-bg-dark .form-control::placeholder{
    	color: #ccc;
    }
    .form-bg-dark .form-control:placeholder-shown + label{
    	opacity: 0;
    	top:30px;
    	left:10px;
    	transition: opacity 0.25s, top 0.25s, left 0.25s;
    	pointer-events: none;

    }
    .form-bg-dark .form-control:not(:placeholder-shown) + label{
    	opacity: 1;
    	top:0px;
    	left:0px;
    	transition: opacity 0.25s, top 0.25s, left 0.25s;
    }
    .form-bg-dark select.form-control option{
      color: #000;
  }
  .form-bg-dark textarea.form-control{
   border: 2px solid #fff;
   resize: none;
}

.form-bg-dark .formulario-nota{
   color: #fefefe;
   font-size: 12px;

}

.form-bg-dark  .form-mensaje{
   display: block;
   text-align: center;
   color: #23c580;
   font-size: 20px;
   font-weight: bold;
   font-family: 'Nunito';
}
.form-bg-dark  .form-mensaje.error{
   color: #ffb8ba;
}
.modal-limbo-body .form-bg-white{
    width: 650px;
}
.form-group .sing-dollar{
    position: absolute;
    left:12px;
    top:25px;
}

.form-white .form-control.mask-salario:not(:placeholder-shown){
     padding-left: 25px;
}
.form-white .form-control.mask-salario:placeholder-shown + label + .sing-dollar{
      display: none;
}
.form-white .form-control.mask-salario:not(:placeholder-shown) + label + .sing-dollar{
    display: inline-block;
}

@media only screen and (max-width: 850px ) {
    .modal-limbo .modal-limbo-prev{
     left: 5px;
 }
 .modal-limbo .modal-limbo-next{
    right: 5px;
}
.modal-limbo-body .form-bg-white{
    width: 300px;
}
}

@media only screen and (max-width: 480px ) {
    .modal-limbo {
        padding: 30px 5px;
    }
    .modal-limbo-prev{
        display: none !important;
    }
    .modal-limbo-next{
        display: none !important;
    }
    .modal-limbo-body .form-bg-white{
        width: 300px;
    }
}
.secondnavitem.nav-item.nav-link.active{
	background-color: #F7F7F7;
    border: none;
    width: 33%;
	border-bottom: 2px solid #FFD200;
	font-family: 'Nunito';
	font-size: 15px;
	font-weight: 700;
	margin-top: 50px;
}
.secondnavitem.nav-item.nav-link{
	background-color: white;
    border: none;
    width: 33%;
	font-family: 'Nunito';
	font-size: 15px;
	font-weight: 700;
	margin-top: 50px;
}





.senior {
	width: 100%;
    height: 103px;
    margin: 3%;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.32);
    padding: 20px;
	padding-left: 13px;
	padding-top: 10px;
}

.senior > label {
	color: #00448C;
    font-weight: 600;
    font-size: 11px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.senior > p {
	color: #737579;
    font-size: 10px;
    margin-top: 0px;
    font-weight: 600;
}

.senior > a {
	color: #333333;
    font-weight: 600;
    font-size: 11px;
    text-decoration: underline;
    float: right;
}

.modal-content.second {
	padding: 5%;
	border: 0;
	border-radius: 12px;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.32);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.32);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.32);
	color: #888888;
	font-weight: 500;
	font-size: 14px;
	padding-left: 7%;
	padding-right: 7%;
}

.modal-content.second > h2 {
	color: #00448C;
	font-weight: 600;
	font-size: 20px;
	display: block;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 10px;
}
.open-accordion-direct{
	cursor: pointer;
}
a > label {
	cursor: pointer;
}

.modal-content.second > h3 {
	color: #737579;
	font-size: 17px;
	margin-top: 0px;
	font-weight: 600;
	margin-bottom: 40px;
	display: block;
	text-align: center;
}

.icono-home {
    background-image: url(../img/Home.png);
    height: 28px;
    width: 25px;
    position: absolute;
    left: 10px;
    padding-right: 27px;
    top: 7px;
}

.card {
    min-height: 617px;
    background-color: #5B5B5B;
    margin-bottom: 50px;
    border: 0;
    border-radius: 0;
    padding-bottom: 36px;
}
.cpd-btn-ver-todas{
	
	
	text-decoration: underline;
}
.second-holder.map{
	color: rgba(114, 114, 114, 255);
}
.First.text.map{
	color: rgba(114, 114, 114, 255);
}
.First.text.limbo-dom-focus.preferencial{
	margin-top: 160px;
margin-left: -7%;
}
@media only screen and (max-width: 600px ) {
	.icono-home {
		display: none;
	}
	.cardnewsecond {
		padding: 5%;
		border: 0;
		height: 250px;
		background-color: white;
		border-radius: 12px;
		-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.19);
		-moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.19);
		box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.19);
	}
	.title-tab-seccion {
		font-family: 'Nunito';
		color: #00448c;
		font-weight: 900;
		margin-bottom: 45px;
		margin-top: 30px;
	}
	.tab-content > .active > ul {
		line-height: 22px;
		padding-left: 36px;
		font-weight: 600;
		letter-spacing: -0.7px;
		color: #5B5B5B;
		font-family: 'Nunito';
		font-size: 12px;
		padding-right: 2px;
		margin-left: 0px;
	}
	a > img.logo{
		padding-top: 20px;
		padding-bottom: 15px;
	}
	.banner-limbo.home-banner.preferencial{
		background-position: 86%;
	}
	.First.text.limbo-dom-focus.preferencial{
		margin-top: 73%;
    margin-left: -7%;
	}
	.second-holder.map{
		color: white;
	}
	.First.text.map{
		color: white;
	}
	
}


.limbo-menu.menumovile > li >a:empty{
	display: none;
}
.shadowoff{
	-moz-box-shadow: inset 0 -0px 0px 00px #21252999;
	-webkit-box-shadow: inset 0 -0px 0px -0px #21252999;
	box-shadow: inset 0 -0px 0px -0px #5b5b5b99;
}




 a > .tittleblack.left:hover{
	color: #0056b3;
    text-decoration: none;
}
.menu-btn-subitem {
    background-image: url(../../assets/img/plus.png);
    background-repeat: no-repeat;
    background-position: 50%;
    height: 50px;
    width: 50px;
    float: right;
    margin-top: -49px;
}
.panel-categoria-lugares .nav-link {
    padding: 8px 19px !important;
}
button:focus {
    outline: none; 
 outline:  none; 
}

.textoptions {
    font-family: 'Open Sans';
    font-size: 16px;
    text-decoration: underline;
    margin-left: 5%;
    margin-right: 4%;
    color: #202020;
    font-weight: 700;
    padding-top: 22px;
}
.texto-navegadores{
    font-size: 12px;
    color: #6d6e72;
}
.template1#s1chat_welcome_wrapper{
background:transparent!important;
}
@media only screen and (max-width: 480px ) {
    .phone .template1#s1chat_welcome_wrapper{
            bottom: 26px !important;
            right: 17px !important;
            height: 55px !important;
            width: 146px !important;
    }
}